*{
    margin: 0px;
    padding: 4px;
}
/*etiquetas generales*/
body{
 background-color: rgb(153, 156, 156) !important;
}

div.Logo{
  width:  150px;
  height: 180px;
  border-radius: 5px;
  background-color: red;
  padding: 30px;
  float: left;
  margin: 15px;
}

.Intro{
  margin-left: 200px;
  background-color: #dddddd;
  text-align: start;
  padding: 50px;
  color: rgb(9, 10, 10);
}
h2{
    color: rgb(20, 19, 19);
    text-decoration:underline;
}
head {
  border-bottom-width:10px;
  background-color: rgb(153, 156, 156);
    background-color:rgb(255, 0, 0);
    width: 100%;
    height: fit-content;
    display: 100%;
}

h3,h5{
margin: 8px;
font-style: oblique;
text-decoration: underline;
text-decoration-color: white;
}

 p{
margin: 8px;
padding: 8px;
font-size: 18px;
}
li a {
  padding: 8px 50px;
  text-decoration: none;
  font-size: 20px;
  background-color: #dddddd;
  text-justify: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

img{
  background-color: red;
  border: 2px solid white;

}
 
.Categorias{
  margin: 8px;
  padding: 4px;
}
.Menu{
  background-attachment: scroll;
  content: center;

}
.Todos{
  color: white !important;
  background-color: red !important;
}

.d-grid-gap-2{
  text-decoration: double !important;
}
button.btn.btn-danger{
  block-size: 70px;
  font-size: 22px;
}

a.dropdown-item{
  font-size: 16px !important;
}

ol {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style-type: none;
}
button{

  background-color: red !important;
  border-color: white !important;
  border-style: double;
  font-size: medium;
  color: white !important;
  text-decoration-color:white !important ;
  align-content: center;
  justify-content: center;
  
}
table{
  
  background-color:rgb(153, 156, 156) !important;
  border-color: white !important;
  border-style: double;
  font-size: medium;
  color: white !important;
  align-content: center;
  justify-content: center;
  
}
.imagenes-herramientas{
  display: flex;
  justify-content: space-evenly;
  background-color:  rgb(153, 156, 156);
  padding: 10px;
  margin-bottom: 30px;
}

a{
  color: white !important;
  background-color: red !important;
  border-color: white !important;
  border-style: double;
  text-decoration: none !important;

}
.container {
  margin: 5px;
  height: calc(70vh - 10px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  gap: 05px;
}
nav.container {
 
  height: calc(10vh - 10px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr); 
}

.item {
  min-width: auto;
  background-color: #e00606;
  font-size: 30px;
  text-align: center;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
 @media (min-width: 420px) and (max-width: 800px) {
  .container {
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    flex-direction: column-reverse;
  }
}