.contenedor {
    display: flex;
    width: 100%;
}

.elemento{
    width: 30px;
    height: 25px;
    border: 1px solid black;
}
  
.el-1{
    background-color: rgb(3, 26, 238);
}
.el-2{
    background-color: rgb(5, 50, 201);
}
.el-3{
    background-color: rgb(75, 77, 185);
}
.el-4{
    background-color: rgb(100, 127, 218);
}
.el-5{
    background-color: rgb(151, 157, 194);
}
.el-6{
    background-color: rgb(159, 159, 165);
}
.el-7{
    background-color: rgb(217, 218, 233);
}
