/*selector universal*/
*{
    margin: 0px;
    padding: 8px;
}
/*etiquetas generales*/
body{
    background-color: rgb(153, 156, 156);
}

.Logo{
  width:  150px;
  height: 100px;
  border-radius: 5px;
  background-color: #aa0404;
  padding: 30px;
  float: left;
  margin: 15px;
}

.Intro{
  background-color: #dddddd;
  padding: 30px;
  color: rgb(9, 10, 10);
}
h2{
    color: rgb(20, 19, 19);
    scroll-margin-left: 20px;
    text-decoration:underline;
    text-align: start;
}
header {
    background-color:rgb(255, 0, 0);
    position: fixed;
    width: 100%;
    height: fit-content;
    display: 100%;
}

h1,h3{
    color: rgb(247, 247, 247);
}
ul{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    list-style-type: none;
    margin: 5px;
    padding: 0px;
    width: 100%;
    background-color:  rgb(153, 156, 156);
}
  li a {
    color: #000;
    padding: 8px 50px;
    text-decoration: none;
    background-color: #dddddd;
    text-justify: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
 }
  .Categorias{
    width: 200;
    float: left;
    color: #000;
    text-decoration: none;
  }
   .section{
    display: flex;
    flex-direction: row;
    align-items: flex-start ;
 }
.Redes{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-start;
  text-decoration: none;
  list-style-type: none;
  margin: 5px;
  padding: 0px;
  background-color: rgb(229, 233, 233);
} 
.Todos{
  display: flex;
  align-content: center;
  justify-content: center;
}