
 *{   margin: 0px;
    padding: 4px;
}
body{
    background-color: rgb(153, 156, 156);
}
.Equipo{
    align-content: end;
    padding-top: 10px;
    margin-top: 10px;
    width: 750px;
    height: 500px;
  }
  aside{
    grid-column: 1;
    grid-row: 1;
    font-size: 32px;
  }
