*{
  margin: 8px;
  padding: 4px;
}
body{
  margin: 8 px;
}
footer{
    margin: 50px;
  }
form{
  margin: 20px;
  padding: 10px;;
  inline-size: 500px;
  block-size: 20px;
  }
  .Todos{
    margin-top: 1000px;
    align-items: center;
    align-content: center
  }