
 *{   margin: 8px;
    padding: 4px;
}
body{
    background-color: rgb(153, 156, 156);
}
.Equipo{
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  aside{
    grid-column: 1;
    grid-row: 1;
    font-size: 32px;
  }
