*{
  background-color: rgb(153, 156, 156) !important;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
}

form{
margin-right: 600px;
margin-left: 600px;
  padding: 20px;
}
button{

  background-color: red !important;
  border-color: white !important;
  font-size: medium;
  text-decoration-color:white !important ;
  
}
input{
  border-color: white !important;
  text-decoration-color:white !important;
  border-style: double;

}
