*{
  margin: 8px;
  padding: 4px;
}
body{
  margin: 8 px;
}
footer{
    margin: 50px;
  }
form{
  margin: 05px;
  padding: 10px;;
  inline-size: 200px;
  block-size: 20px;
  }
  .Todos{
    margin-top: 800px;
    align-items: center;
    align-content: center
  }