/*selector universal*/
*{
    margin-block-start: 10px;
    margin: 8px;;
    padding: 0px;
}
/*etiquetas generales*/
body{
    background-color: rgb(153, 156, 156);
}

ul{
    list-style: circle;
    color: rgb(247, 247, 247);
    display: inline-block;
}
ol{
    list-style: square inside;
    color: rgb(10, 10, 248);
}
a{
    color: rgb(247, 247, 247);
    text-decoration:double;
}
h2{
    color: rgb(20, 19, 19);
    scroll-margin-left: 20px;
}

/*estilos puntuales*/

header ul li{
    color: rgb(255, 0, 0);
    display: inline-block;
}

#Productos{
text-align: center;
color:red;
background-color: aquamarine;
}
#section{
    color: aqua;
    background-color: color:rgb(179, 235, 245) !important;
}


P,h1,h3{
    color: rgb(247, 247, 247);
    display: block
    font-size 50px;
    font-weight 50px;
}