/*selector universal*/
*{
    margin:0px;
    padding: 0px;
}
/*etiquetas generales*/
body{
    background-color: rgb(153, 156, 156) ;
}

ul{
    list-style: none;
    color: rgb(14, 14, 15);
}
ol{
    list-style: none;
    color: rgb(10, 10, 248);
}
a{
    color: rgb(225, 240, 10);
    text-decoration: none;
}
h3{
    color: rgb(255, 0, 0);
margin-block-start:20px;
}

/*estilos puntuales*/

header ul li{
    color: rgb(255, 0, 0);
}

#Productos{
text-align: center;
color:red;
background-color: aquamarine;
}
#section{
    color: aqua;
    background-color: color:rgb(179, 235, 245) !important;
}


P,h1,h2{
    color: azure;
    display: block
    font-size 50px;
    font-weight 50px;
}