/*selector universal*/
*{
    margin:0px;
    padding: 0px;
}
/*etiquetas generales*/
body{
    background-color: rgb(153, 156, 156) ;
}

ul{
    list-style: none;
    color: blue;
}
a{
    color: rgb(225, 240, 10);
    text-decoration: none;
}
h1,section{
    color: blue;
margin-block-start:20px;
}

/*estilos puntuales*/
header ul li{
    color: blue;
}

#Productos{
text-align: center;
color:red;
background-color: aquamarine;
}
#section{
    color: aqua;
    background-color: color:rgb(179, 235, 245) !important;
}


P,h1,h2{
    color: azure;
    display: block
    font-size 50px;
    font-weight 50px;
}