body {
    display: block;
    margin: 8px;
  }
  .contenedor {
    margin: 5px;
    height: calc(100vh - 10px);
    display: grid;
    gap: 10px;
  }
  
  .item1 {
    background-color: blue;
  }
  .item2{
    background-color: yellow;
  }
  .item3{
    background-color: black;
  }
  .item4{
    background-color: violet;
  }
  .item5{
    background-color: orange;
  }
  .item6{
    background-color: pink;
  }
  .item7{
    background-color: red;
  }
  .item8{
    background-color: green;
  }
  .item9{
    background-color: grey;
  }

  @media (max-width: 768px) {
    .contenedor {
      grid-template-columns: repeat(2, 1fr); /* cambia a 2 columnas */
      grid-template-rows: repeat(3, 1fr); /* cambia a 3 filas */
    }
  }