@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Dancing+Script&display=swap");
*{
    padding: 0px;
    margin: 0px;
}
.contenedor{
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #330757;
    text-align: center;
    font-family: "Dancing Script", cursive;
} 
.message{
    width: 400px;
    height: 150px;
    background-color: #ad6be3;
    border: 4px dotted black;
    margin: 50px;
    /* margin 10px 20px 10px 20px; */
    /*margin: 0 10 px; 0 arriba y abajo, y 10 px izq y derecha,*/
    padding: 40px;
    display: inline-table0;
    justify-content: center;
    text-align: center;
}