/*selector universal*/
*{
    margin: 0px;
    padding: 10px;
}
ol{
    list-style: square inside;
    color: rgb(225, 225, 229);
}
h2{
    color: rgb(20, 19, 19);
    scroll-margin-left: 20px;
    text-decoration:underline;
    text-align: start;
}
header{
    background-color:rgb(231, 229, 229);
    position: fixed;
    width: 100%;
    height: fit-content;
    display: 100%;
}

h1{
    color: rgb(247, 247, 247);
}
ul{
    margin: 0px;
    padding: 20px;
    width: 1000px;
}
  li a{
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #fc0d0d;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #dddddd;
  }
  footer{
    background-color:rgb(192, 192, 192);
    width: 1000px;
    align-items: center;
    align-content: center;
    text-align: center;
    position: static;
  }
  .Barra{
    list-style: none;
    display: flex;
    justify-content: space-between;  
    background-color: rgb(192, 192, 192);
    border-style: groove;
  }
  .Articulos{
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: rgb(192, 192, 192);
    border-style: groove;
  }
  .Todos{
    width: 1000px;
    height: 5px;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color:  rgb(247, 247, 247);
    border-style: groove;
  }